@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

body {
  margin: 0;
  font-family: 'Lato', 'Roboto', 'Helvetica Neue', sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-size: medium;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
